@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/extras/nouislider";


#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 70%;
  left:50%;
}